:root {
  --brand-color: #4d5ae5;
  --portfolio-color: #f4f4fd;
  --form-color: #2e2f42;
  --form-label-color: #8e8f99;
  --form-checkbox-color: #404bbf;
}

/*Mobile version - no media*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.div-header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 70px;
}
.div-header .menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 24px 0;
  display: none;
}
.div-header .address-list {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: black;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.hamburger-icon {
  color: black;
}
.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.list {
  list-style: none;
}
.list-item {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.list-item:hover,
.list-item:focus {
  color: #404bbf;
}
.link-active {
  color: var(--brand-color);
}
.link-active::after {
  width: 100%;
}
.address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 40px;
}
/*end of header, beginning of section I*/
.main-banner {
  padding: 188px 0;
}
.main-banner-background {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.main-banner-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-wrap: wrap;
  max-width: 496px;
  margin: 0 auto 48px;
}
.main-banner-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px, 32px, 16px, 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.main-banner-button:hover,
.main-banner-button:focus {
  background-color: #404bbf;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*end of Section I, start: Section II*/
.section-characteristics {
  padding-bottom: 24px;
  padding-right: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.characteristics-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}
.characteristics-list-item {
  flex-basis: calc((100% - 72px) / 4);
}
.characteristics-list-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.characteristics-list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/*end of Section II, start: Section III*/
.secondary-list-section {
  padding-top: 0;
  padding-bottom: 120px;
}
.secondary-list-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.secondary-list {
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 24px;
}
.secondary-list-item {
  width: calc((100% - 48px) / 3);
}
/*end of Section III, start: Section IV*/
.fourth-section {
  background-color: #f4f4fd;
}
.main-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main-list-element {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.employee {
  padding: 32px 0px;
}
.main-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.main-list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.icon-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding-top: 8px;
}
.social-media {
  height: 40px;
  width: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}
.social-media-icon {
  fill: #f4f4fd;
}
/*end of Section IV, start: Section V*/
/*mobile-js-menu*/
.mobile-menu-studio {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 24px;
  padding-left: 8px;
  margin-bottom: 150px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: #3f51b5;
}
.menu-container.is-open {
  transform: translateX(0);
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  width: 428px;
}
.menu-address-li:first-child {
  font-size: 36px;
  font-weight: 700;
  min-width: 353px;
  font-style: normal;
  padding-bottom: 40px;
}
.menu-social-list {
  gap: 56px;
  justify-content: flex-start;
  display: flex;
  list-style: none;
}
.menu-address-list {
  flex-wrap: wrap;
  justify-content: start;
  max-width: 353px;
  margin-bottom: 48px;
  list-style: none;
}
.customers-section {
  gap: 16px;
}
.mobile-menu-container .active-page::after {
  display: none;
}
.active-page::after {
  background-color: var(--brand-color);
  border-radius: 2px;
  bottom: -1px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.active-page {
  color: var(--Pressed-state);
  position: relative;
}
.social-media-box {
  margin: 0 auto;
}
.logo-secondary {
  color: #2e2f42;
}
.class {
  color: #404bbf;
}
.second-section-container {
  display: flex;
  align-items: center;
}
.customers-section > .container {
  display: flex;
  flex-direction: column;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-list-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-list-icon {
  fill: currentColor;
}
.foot-svg {
  margin-left: 16px;
  fill: #ffffff;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer > .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-description {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.logo-secondary-footer {
  color: #f4f4fd;
}
.footer-secondary {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-header {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.icon {
  fill: #f4f4fd;
}
.icon-list-footer {
  display: flex;
  gap: 16px;
}
.icon-list-footer-item {
  height: 40px;
  width: 40px;
}
.icon-list-footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list-footer-link:hover {
  background-color: #31d0aa;
}
.icon-list-footer-link:focus {
  background-color: #31d0aa;
}
/*PORTFOLIO*/
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}
.button-list-flex {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}
.button-list-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list-item:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list-item:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-flex {
  width: calc((100% - 48px) / 3);
}
.portfolio-list-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-main {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-list-image-text {
  transform: translateY(0%);
}
.portfolio-link:focus .portfolio-list-image-text {
  transform: translateY(0%);
}
.portfolio-list-image {
  position: relative;
  overflow: hidden;
}
.portfolio-list-image-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-start {
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  margin-top: 16px;
}
.contacts-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--form-color);
  margin-bottom: 16px;
}
.form-point {
  margin-bottom: 8px;
}
.form-point-comment {
  margin-bottom: 16px;
}
.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-label-color);
  display: block;
  margin-bottom: 4px;
}
.form-div {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + svg {
  fill: #4d5ae5;
}
.modal-window-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window-form-textarea:focus {
  border-color: #4d5ae5;
}
.form-checkbox {
  margin-bottom: 24px;
}
.form-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-label-color);
}
.form-checkbox-privacy-policy {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.form-privacy-policy:checked + .form-checkbox-label span {
  background-color: var(--form-checkbox-color);
  border: none;
  fill: var(--portfolio-color);
}
.privacy-policy-link {
  color: var(--brand-color);
}
.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
  background-color: #404bbf;
}
.form-button:focus {
  background-color: #404bbf;
}
.subscription-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscription-form {
  display: flex;
  gap: 24px;
}
.subscription-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.subscription-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.subscription-button:hover {
  background-color: #404bbf;
}
.subscription-button:focus {
  background-color: #404bbf;
}

/*=========TABLET=========*/

@media screen and (min-width: 768px) and (max-width: 1158px) {
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .menu-container {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .header-wrap {
    height: 72px;
  }
  .menu-toggle {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-left: 16px;
    text-decoration: none;
  }
  .address {
    display: inline;
    font-size: 12px;
  }
  .address-list {
    display: block;
    padding-top: 16px;
    padding-right: 16px;
  }
  .secondary-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    display: flex;
    list-style: none;
  }
  .icons-secondary {
    display: none;
  }
  .secondary-list-section {
    display: none;
  }
  .characteristics-list-item {
    align-items: flex-start;
  }
  .characteristics-list-item-header {
    padding: 0 0 0 24px;
  }
  .characteristics-list-item-description {
    padding: 0 0 0 24px;
    font-weight: 500;
  }
  .fourth-section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0px;
  }
  .customers-section {
    padding: 0;
  }
  .secondary-list-header {
    padding-top: 96px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
  }
  .footer-link {
    text-align: left;
  }
  .footer-header {
    text-align: left;
  }
  .footer-logo {
    margin-top: 0px;
    margin-left: 106px;
  }
  .subscription {
    margin-left: 106px;
    display: block;
    margin-right: 207px;
  }
  .subscription-form {
    flex-wrap: nowrap;
  }
  .footer {
    height: 466px;
  }
  .social-media-box {
    margin-right: 164px;
  }
  .main-list {
    margin: 24px 109px;
  }
  .main-list-element {
    width: 264px;
    height: 428px;
  }
  .subscription-input {
    width: 264px;
    color: #ffffff;
  }
  .characteristics-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .modal-window {
    min-width: 408px;
  }
}
/*========DESKTOP=======*/
@media screen and (min-width: 1158px) {
}
